.about-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &__title {
    margin-bottom: 3rem;
    padding: .5rem 2rem;
    background-color: white;
    box-shadow: 1rem 2rem 1rem black;
    @media (min-width: 992px) { font-size: 2rem; }
  }
}

.description-container {
  max-width: 48rem;
  padding: 1rem;
  color: white;
  background-color: lighten(black, 15%);
  box-shadow: 1rem 2rem 1rem black;
  @media (min-width: 992px) {
    padding: 2rem 3rem;
    max-width: 50rem;
  }
}
