
<div class="app-container">
  <header class="header title-font">
    <h1 class="header__title">Heroes Showcase</h1>
  </header>

  <nav class="navigation title-font">
    <a class="navigation__link" routerLink="/heroes-list" routerLinkActive="active">
      Heroes List
    </a>
    <a class="navigation__link" routerLink="/about" routerLinkActive="active">
      About
    </a>
  </nav>

  <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</div>
